@font-face { 
    font-family: 'Shabnam';
    src: url('..Fonts/shabnam.eot') format('eot'),
           url('..Fonts/shabnam-Bold'),
           url('..Fonts/shabnam-Light');
  }

/* Box-sizing border-box */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; direction: rtl;}

.text{
    background-color: rgba(41, 177, 177, .1);
    margin: 10px;
    padding: 10px;
    border-right: 5px groove black;
}
.text:hover{
    border-right: 10px groove  black ;
    transition: ease 0.5s;
    background-color: rgba(41, 177, 177, .8 );
    border-st
}