@font-face{
    font-family: shabnam ;
    src: url(../assets/font/Shabnam.ttf) format("ttf");
    src: url(../assets/font/Shabnam.woff) format("woff");
}
*{
    box-sizing: border-box;
}
body{
    font-family: shabnam;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
}
/* 
* start right content
*/
.right-content{
    width: 40%;
    height: 100vh;
    background-color: #f3f3f3;
}
.inner-content__right{
    margin-right: 4em;
    margin-top: 69px;
}
/* 
* end right content
*/
/* 
* start left content
*/
.left-content{
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img/radar-angle.png);
   

}
.image{

}
.text{
    font-size: 1.3em;
    color: #fff;
    text-transform: capitalize;
    position: fixed;
    bottom: 23px;
}
/* 
* End left content
*/