
html{
    font-family: iransans;
    font-weight:500;
    font-size: .9em;
}
a{
    text-decoration: none;
}
/* 
*   navigation
*/
.navigation{
    display: flex;
    justify-content: space-between;
    background-color: #49484b;
}

.navigation .action{
    background-color: #333;
}

.navigation ul a {

    color: white;  
}
.navigation ul a:hover{
    opacity: .8;
}
.navigation .nav--right , .navigation .nav--left {
    display: flex;

}
.navigation .nav--right li , .navigation .nav--left li{
    list-style: none;
    padding: 12px 20px;
}
/* 
 *  Head-section
 */

.head-section{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}
.head-section .head--right , .head-section .head--left{
    display: flex;
    align-items: center;
}
/* 
 *  Drop Down Button
 */
 .sh-dropdown-wrapper{
     display: flex;
 }
 .sh-dropdown-trigger{
     background-color: #0095da ;
     border-radius: 3px;
     padding: 13px ;
     color: white;

 }
 /* 
 *  Search Box 
 */
 .search .form-group{
     margin-right: 20px;
     display: flex;
     
 }
 .search input{
     background-color: #f3f3f3;
     padding: 12px;
     width: 350px;
     border: none;
     outline: none;
    font-family: iransans;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
     
 }
 .search button{
     background-color: #a5a5a5;
     border-top-left-radius: 4px;
     border-bottom-left-radius: 4px;
     border: none;
     outline: none;
     
 }
 .search button i {
     font-size: 20px;
    padding: 10px;
    color: #f3f3f3 ;
 }

  /* 
  *  Cart Button 
  */

 .cart{

     background-color: #4caf50;
     border-radius: 3px;
     color: white;
     display: flex;
     align-items: center;
 }
 .cart:hover{
     background-color: #48a24c;
 }
 .cart i {
     padding: 13px;
     font-size: 20px;
     background-color: rgba(255, 255, 255, .2);
     margin-left: 15px;

 }
 .cart span{
     background-color:rgba(255, 255, 255, .2) ;
     border-radius: 50px;
     padding: 5px 8px 1px;
     margin: 10px;
     font-size: 1.1em;
 }

   /* 
   *  Slider Special Suggest 
   */

   .special-suggest--item{
       background-size: cover !important;
       height: 250px;
       z-index: 0;
       margin-top: 20px;
       display: flex;
       align-items: center;

   }
   .special-suggest--item-info{
       display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 10%;
   }
   .special-suggest--item-info a {
       color: white;
   }
   .btn{
       border: none;
       border-radius: 3px;
       padding: 8px 20px;
       font-family: inherit !important;
   }
   .btn--green{
       background-color: #38ca6f; 
   }
   .special-suggest--item-section{
       display: flex;
       margin-top: 10px;
       background-color: white;
       padding: 15px 20px;
       font-size: 1.2em;
       border-radius: 3px;
   }

   .special-suggest--item-title{
       margin-left:80px ;
   }
   @media only screen and (max-width : 767px){
      .navigation .nav--left, .search{
           display: none;
       }
   }
   @media only screen and (max-width : 500px){
    .navigation .nav--right{
        flex-direction: column;
        width: 100%;
     }
     .special-suggest--item{
         justify-content: center;
     }
     .special-suggest--item-info{
         align-items: center;
         margin-right: 0;
     }
     .special-suggest--item-title{
         margin-left: auto;
     }
     .special-suggest--item-price{
         display: none;
     }
 }
    /* 
    *  Product-Section
    */

 .row{

     padding-right: 20px;
     padding-left: 20px;
 }
 .product-section{
     margin-top: 15px;
     margin-bottom: 15px;
 }

 .product-section--head{
    display: flex;
    align-items: center;
     margin-top: 35px;
    align-items: center;
 }
 .product-section--head-titel{
    font-size: 1.8em;
    font-weight: 400;
    color: #4d4d4d;
    margin-left: 10px;
    letter-spacing: -1;
 }
 .product-section--head a{
     border-bottom: 1px solid rgba(77, 77, 77, 0.5);
     color: #4d4d4d;
 }
 .product-section--head a:hover{
     border-bottom: none;
 }
 .product-section--content{
     margin-top:25px;
    
 }
 .product-section--content-box .product--img{
     
    
     height: 210px ;
     border: 1px solid rgba(0, 0, 0, 0.1);
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .product-section--content .product--info{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .product-section--content .product--info a:first-child{
    margin-top: 20px;
    color: #444;
    font-weight: 400;
    font-size:1.1em ;
 }
 .product-section--content-box .product--img img {
     height: 190px;
 }
 .product-section--content .product--info .product--discount{
    margin-top: 10px;
    color: #ff6b6b;
    text-decoration: line-through;
    font-weight: 500;
    font-size: 0.9em;
 }

 .product-section--content .product--info .product--orginal{
    color: #4caf50;
    font-size: 1.1em;
 }
/* 
 *  Banner-Box
 */
 .banner-box--section{
     display: flex;
     justify-content: center;

 }
 .banner-box--section img{
     width: 100%;

 }
 .banner-box--section a {
     margin-left: 10px;
 }
 .product-section--head-center{
     display: flex;
     flex-direction: column;
     margin-bottom: 10px;
     border-bottom: 1px solid ;
 }